html
	head
		include parts/meta
		title กำลังจอง #{space.name} - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title กรุณากรอกรายละเอียด
					div(style="margin-bottom: 3em")
						p
							strong ผู้จอง: 
							| #{member.firstName} #{member.lastName}<br>
							//- | นักศึกษา คณะเทคโนโลยีสารสนเทศ
						p
							strong สถานที่: 
							| #{space.fullName}, #{space.department.fullThaiName}
						p
							strong วันที่ต้องการจอง: 
							= reservation.date_raw + ' ' + reservation.date.slice(0,4)
						p
							strong เวลาที่ต้องการจอง: 
							= reservation.start_raw + " - " + reservation.end_raw + " น."
					form(action="submit/", method="POST")
						div(style="display:none")
							input(type="text", name="space", value=space.id)
							input(type="text", name="date", value=reservation.date)
							input(type="number", name="start", value=reservation.start)
							input(type="number", name="end", value=reservation.end)
						div.input-wrap
							label(for="reason") เหตุผลในการจอง (จำเป็น)
							textarea(name="reason", rows="4", required)
							//- span.err กรุณากรอกข้อมูล
						div.marg-b-1
							label อุปกรณ์ที่ต้องการยืม
							table
								each item in materials
									tr
										td
											label.control.checkbox
												input(type="checkbox", name="materials", value=item.name.th)
												span.control-indicator
												= item.name.th
						button.raised
							i.fas.fa-paper-plane
							| ส่งข้อมูล
