html
	head
		include parts/meta
		title จัดการสถานที่ M03 - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
		link(rel="stylesheet", href="/public/vendor/dropzone/dropzone.min.css")
		style
			| code#spaceURL {word-break: break-all}
			| span#spaceURI {color: #00A0FF}
			| img#currentImg {display:block;max-width: 100%}
	body.manage-space-single
		include parts/nav
		-
			let available = orgData.isAvailable == true || orgData.isAvailable == undefined ? true : false;
			orgData.tags = orgData.tags ? orgData.tags : [];
		div#app
			div.content
				div.container
					if status == "success"
						div.notice.success
							i.fas.fa-check-circle
							|  บันทึกข้อมูลเรียบร้อย
					else if !canSave
						div.notice
							i.fas.fa-exclamation-circle
							|  คุณไม่มีสิทธิ์แก้ไขข้อมูล
					else if status != ""
						div.notice.warning
							i.fas.fa-exclamation-circle
							|  ยังไม่ได้บันทึกข้อมูล กรุณาตรวจสอบข้อมูลอีกครั้ง (#{status})
					div.page-title-wrap
						h2.page-pretitle จัดการสถานที่
						h1.page-title {{ spaceName || "สถานที่ใหม่" }}
					form(action=(isNew ? "create" : "update"), method="POST")
						p ช่องที่มีเครื่องหมายดอกจันทร์ (*) จำเป็นต้องกรอก
						hr
						div(style="display:none")
							input(type="text", name="name", required, v-model="computedSpaceURI")
							input(type="text", name="spaceId", required=orgData.id, value=orgData.id)
							input(type="text", name="orgSpaceName", value=(orgData.name ? orgData.name : ""))
						div.row
							div.col-50.marg-b-1
								label(for="space-name") ชื่อสถานที่ *
								input.fluid(type="text", name="fullName", required, v-model="spaceName", disabled=!canSave)
							div.col-50.marg-b-1
								label(for="space-seats") จำนวนที่นั่ง
								input.fluid(type="number", name="capacity", value=(orgData.capacity ? orgData.capacity : ""), disabled=!canSave)
						div.row
							div.col-50.marg-b-1
								label(for="slug") ประเภทสถานที่ *
								div.select
									select(aria-label="ประเภทสถานที่", name="tags")
										each t in spaceTypes
											option(value=t.v, selected=(orgData.tags.includes(t.v)), disabled=!canSave)= t.x
						div(style="margin-bottom:0.5em")
							label(for="name_raw") ชื่อสำหรับใช้ใน URL (ภาษาอังกฤษเท่านั้น) *
							input(type="text", name="name_raw", required, v-model="spaceURI", disabled=!canSave)
						div.marg-b-1
							code#spaceURL https://space.itforge.io/space/#{currentDept.name}/
								span#spaceURI {{ computedSpaceURI || "sample" }}
						div.marg-b-1
							label คุณสมบัติ
							table
								tr
									td
										label.control.checkbox
											input(type="checkbox", name="isAvailable", value="true", checked=available, disabled=!canSave)
											span.control-indicator
											| เปิดให้จอง
								each item in amenities
									tr
										td
											label.control.checkbox
												input(type="checkbox", name="tags", value=item.id, checked=(orgData.tags.includes(item.id)), disabled=!canSave)
												span.control-indicator
												= item.name
						div.marg-b-1
							label คำอธิบาย
							textarea(name="description", rows="4", disabled=!canSave)
								= orgData.description ? orgData.description : ""
						div.marg-b-1
							label ภาพของห้อง
							img.marg-b-1#currentImg(src="/public/img/single-feat.jpeg")
							button.marg-b-1(type="button", @click="toggleUploadBox") {{ uploadBoxIsOpen ? "ยกเลิก" : "อัพโหลดภาพใหม่" }}
							span(v-show="uploadBoxIsLoading") กำลังโหลด
							div.dpzone#imgDropzone(v-show="uploadBoxIsOpen")
						if canSave
							button.raised
								i.fas.fa-save
								| บันทึก
		script(src="/public/vendor/dropzone/dropzone.min.js")
		script(src="/public/vendor/axios/axios.min.js")
		script(src="/public/scripts/manage-space-single.js")
		script
			| app.spaceName = "#{orgData.fullName ? orgData.fullName : ""}";
			| app.spaceURI = "#{orgData.name ? orgData.name : ""}";
			| app.spaceId = "#{orgData.id ? orgData.id : ""}";
			| app.memberToken = "#{memberToken}";
