html
	head
		include parts/meta
		title จัดการคำร้อง - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-request
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title จัดการคำร้อง
					ul.tabs
						li(class=(thisTab == "a" ? "selected" : ""))
							a(href="/manage-request/") รอการจัดการ
						li(class=(thisTab == "b" ? "selected" : ""))
							a(href="/manage-request/archive/") จัดการแล้ว
					div
						if !reqInfo
							h3 ไม่พบคำร้อง
						each r in reqInfo
							a.card.shadow.hoverable.request-card(href=(thisTab == "a" ? r.id : "../" + r.id))
								div.req-info
									h1.card-title #{r.space.fullName}, #{dept_fullThaiName}
									p.grayed ผู้ยื่นคำร้อง: #{r.client.firstName} #{r.client.lastName}
									p.grayed ต้องการใช้วันที่: #{r.dates} เวลา #{r.period.start} - #{r.period.end} น.
								div.req-status
									if r.status == "PENDING"
										img(src="/public/img/wait.svg", alt="pending", width="48", height="48")
									else if r.status == "COMPLETED"
										img(src="/public/img/success.svg", alt="succeed", width="48", height="48")
									else
										img(src="/public/img/failure.svg", alt="failed", width="48", height="48")
