html
	head
		include parts/meta
		title จัดสิทธิ์ Student - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-role-single
		include parts/nav
		-
			const myPermissions = role.permissions.map(p => p.name); // current role's permissions
			const checkedPermissions = permissions.filter(p => myPermissions.includes(p.name)).map(q => q.name);
		div#app
			div.content
				div.container
					if status == "success"
						div.notice.success
							i.fas.fa-check-circle
							|  บันทึกข้อมูลเรียบร้อย
					else if !canSave
						div.notice
							i.fas.fa-exclamation-circle
							|  คุณไม่มีสิทธิ์แก้ไขข้อมูล
					else if status != ""
						div.notice.warning
							i.fas.fa-exclamation-circle
							|  ยังไม่ได้บันทึกข้อมูล กรุณาตรวจสอบข้อมูลอีกครั้ง (#{status})
					div.page-title-wrap
						h2.page-pretitle จัดการสิทธิ์
						h1.page-title {{ name || "สิทธิ์ใหม่" }}
					form(action=(isNew ? "create" : "update"), method="POST")
						div.marg-b-1
							label(for="role-name") ชื่อสิทธิ์
							input(type="text", name="name", disabled=!canSave, v-model="name")
						div.marg-b-1
							label สิทธิ์การเข้าถึง
							table
								each p in permissions
									tr
										td
											label.control.checkbox
												input(type="checkbox", name="permissions", value=p.name, checked=checkedPermissions.includes(p.name), disabled=!canSave)
												span.control-indicator
												= p.name
											p.marg-t-0= p.description
						if canSave
							button.raised
								i.fas.fa-save
								| บันทึก
		script(src="/public/scripts/manage-role-single.js")
		script
			| app.name = "#{role.name}"
