html
	head
		include parts/meta
		title จัดการคำร้อง - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-request
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title จัดการคำร้อง
					ul.tabs
						li.selected
							a(href="#") รอการอนุมัติ
						li
							a(href="#") อนุมัติแล้ว
					div
						if !requestsFrom
							h1 no permission
						each m in requestsFrom
							a.card.shadow.hoverable.request-card(href=currectSpace.name)
								div.req-info
									h1.card-title= currectSpace.name 
									p.grayed= "ผู้ส่งคำร้องขอ: "+m.client.firstName + "("+m.client.email+")"
									p.grayed= "ขอใช้ในวันที่: "+m.dates + " เวลา  " + m.period.start + "-" + m.period.end 
								div.req-status
									img(src="/public/img/wait.svg", alt="success", width="48", height="48")
									//- p.grayed #{m.status}

//- สอนผมด้วยนะครั บ VUE อยากลองทำเองก่อนตรง ที่สามารถสลับหน้าไปอนุมัติ ! ได้ !! 