html
	head
		include parts/meta
		title จัดการผุ้ใช้ในสิทธิ์ Student - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-role-user
		include parts/nav
		div#app
			div.content
				div.container
					if status == "success"
						div.notice.success
							i.fas.fa-check-circle
							|  เพิ่มผู้ใช้เรียบร้อย
					else if status != ""
						div.notice.warning
							i.fas.fa-exclamation-circle
							= " " + status
					div.page-title-wrap
						h2.page-pretitle จัดการผู้ใช้ในสิทธิ์
						h1.page-title= role.name
					div
						button.marg-b-1(onclick="toggleAdder()")
							i.fas.fa-plus-circle
							| เพิ่มผู้ใช้เข้าสิทธิ์นี้
						form#adder(action="addmember", method="POST", style="display:none")
							label(for="member") พิมพ์รหัสประจำตัวและกด Enter
							input(type="text", name="member", style="width:100%")
					table.styled.striped
						if role.members.length == 0
							h3 ยังไม่มีผู้ใช้
						each m in role.members
							tr(id=m.id)
								td.w-10= m.username
								td= m.firstName + " " + m.lastName
								if accesses.includes("ROLE_ASSIGN_ACCESS")
									td.actions
										a(@click=`revokeRole("${m.id}")`)
											i.fas.fa-trash
		script(src="/public/vendor/axios/axios.min.js")
		script(src="/public/scripts/manage-role-user.js")
		script
			| app.token = "#{memberToken}";
			| app.roleId = "#{role.id}";
			| var toggled = false;
			| function toggleAdder() {
			| 	if (toggled) {
			| 		document.getElementById("adder").style.display = "none";
			| 		toggled = false;
			| 	} else {
			| 		document.getElementById("adder").style.display = "block";
			| 		toggled = true;
			| 	}
			| }
