html
	head
		include parts/meta
		title คำร้อง ##{id} - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-request-single
		include parts/nav
		-
			let reviewers = request.reviews.map(r => r.reviewer.id);
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title รายละเอียดคำร้อง
						h2.page-subtitle คำร้อง ##{id}
					table.styled.striped.marg-b-2
						tr.status(class=request.status.toLowerCase())
							td สถานะ
							td #{request.status} (#{request.reviews.length} จาก 2)
						tr
							td ผู้จอง
							td= request.client.firstName + " " + request.client.lastName
						tr
							td สถานที่
							td= request.space.fullName + ", " + request.space.department.fullThaiName
						tr
							td ยื่นคำร้องเมื่อ
							td= request.createdAt_th
						tr
							td วันที่ต้องการจอง
							td= request.dates_th
						tr
							td เวลาที่ต้องการ
							td= request.startTime + " - " + request.endTime + " น."
						tr
							td เหตุผล
							td=request.body
						if request.materials.length > 0
							tr
								td อุปกรณ์ที่ต้องการยืม
								td
									ul(style="margin-top:0;margin-bottom:0;padding-left:1em")
										each i in request.materials
											li= i
					if (request.status == "PENDING" && !reviewers.includes(member.id))
						a.button.raised(href="./APPROVE")
							i.fas.fa-check
							| อนุมัติ
						a.button.raised.color-red(href="./REJECT")
							i.fas.fa-times
							| ปฏิเสธ
			div.modal#modal
				div.card
					span.close(onclick="closeModal('modal')")
						i.fas.fa-times-circle
					h1.modal-title กรุณากรอกรหัสผ่านเพื่อยืนยัน
					div.input-wrap
						input.fluid(name="report", type="password")
					a.button.raised(href=id+'/review') ยืนยัน
		script(src="/public/scripts/manage-request-single.js")
		script(src="/public/scripts/modal.js")
