html
	head
		include parts/meta
		title รายงาน ##{id}  - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-report-single
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title รายงาน
					div.marg-b-2
						p สถานที่: #{problem.space.fullName}, #{problem.space.department.fullThaiName}
						p วันที่แจ้ง: #{problem.createdAt_th}
					div.card.marg-b-1
						div.marg-b-1
							h3 หัวข้อ
							p= problem.title
							h3 รายละเอียด
							p= problem.body
					if !problem.isRead
						a.button.raised(href="isread")
							i.fas.fa-envelope-open
							| บันทึกว่าอ่านแล้ว
