html
	head
		include parts/meta
		title คำร้อง ##{id} - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.manage-request-single
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title รายละเอียดคำร้อง
						h2.page-subtitle คำร้อง ##{id}
					table.styled.striped.marg-b-2
						tr.status.pending
							td สถานะ
							td รอการอนุมัติ (1 จาก 2)
						tr
							td ผู้จอง
							td=details.client.firstName
						tr
							td สถานที่
							td=details.space.name
						tr
							td ยื่นคำร้องเมื่อ
							td=details.createdAt
						tr
							td วันที่ต้องการจอง
							td=details.dates
						tr
							td เวลาที่ต้องการ
							td=details.period.start +'-'+ details.period.end
						tr
							td เหตุผล
							td=details.body
					a.button.raised(onclick="showModal('modal')")
						i.fas.fa-check
						| อนุมัติ
					a.button.raised.color-red(onclick="showModal('modal')")
						i.fas.fa-times
						| ปฏิเสธ
			div.modal#modal
				div.card
					span.close(onclick="closeModal('modal')")
						i.fas.fa-times-circle
					h1.modal-title กรุณากรอกรหัสผ่านเพื่อยืนยัน
					div.input-wrap
						input.fluid(name="report", type="password")
					button.raised ยืนยัน
		script(src="/public/scripts/manage-request-single.js")
		script(src="/public/scripts/modal.js")
