html
	head
		include parts/meta
		title คำร้องของฉัน - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.my-request
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						if myRequests.length == 0
							h1.page-title.text-center คำร้องของฉัน
						else
							h1.page-title คำร้องของฉัน
					div
						if myRequests.length == 0
							div.text-center
								img.marg-b-1(src="/public/img/no_data.svg", alt="no data", width="200")
								h3 ยังไม่มีประวัติคำร้อง
						each m in myRequests
							a.card.shadow.hoverable.request-card(href=m.id)
								div.req-info
									h1.card-title= m.space.fullName + ", " + m.space.department.fullThaiName
									p #{m.dates_th} เวลา #{m.startTime} - #{m.endTime} น.
									p.grayed= m.status
									p.grayed ยืนคำร้องเมื่อ: #{m.createdAt_th}
								div.req-status
									img(src="/public/img/wait.svg", alt="success", width="48", height="48")
