html
	head
		include parts/meta
		title คำร้องของฉัน - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.my-request
		include parts/nav
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title คำร้องของฉัน
					div
						each m in myRequests
							a.card.shadow.hoverable.request-card(href=m.id)
								div.req-info
									h1.card-title= m.space.fullName + ", " + m.space.department.fullThaiName
									p #{m.dates_th} เวลา 10.00 - 12.00 น.
									p.grayed= m.status
									p.grayed ยืนคำร้องเมื่อ: #{m.createdAt_th}
								div.req-status
									img(src="/public/img/wait.svg", alt="success", width="48", height="48")
