html
	head
		include parts/meta
		title รายละเอียดคำร้อง - KMITL OSRS
		include parts/stylesheet
		include parts/scripts
	body.single-request
		include parts/nav
		-
			const months = ["ม.ค.", "ก.พ.", "มี.ค.", "เม.ย.", "พ.ค.", "มิ.ย.", "ก.ค.", "ส.ค.", "ก.ย.", "ต.ค.", "พ.ย.", "ธ.ค."]
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title รายละเอียดคำร้อง
						h2.page-subtitle คำร้อง ##{reqInfo.id}
					table.styled.striped
						tr.status.pending
							td สถานะ
							td= reqInfo.status
						tr
							td ผู้จอง
							td= reqInfo.client.firstName + " " + reqInfo.client.lastName
						tr
							td สถานที่
							td= reqInfo.space.fullName + ", " + reqInfo.space.department.fullThaiName
						tr
							td ยื่นคำร้องเมื่อ
							td= reqInfo.createdAt_th
						tr
							td วันที่ต้องการจอง
							td= reqInfo.dates_th
						tr
							td เวลาที่ต้องการจอง
							td= reqInfo.startTime + " - " + reqInfo.endTime + " น."
						tr
							td เหตุผล
							td= reqInfo.body
