html
	head
		include parts/meta
		title= space.fullName + " - KMITL OSRS"
		link(rel="stylesheet" href="/public/vendor/pikaday/pikaday.min.css")
		include parts/stylesheet
		include parts/scripts
	body.single-space
		include parts/nav
		-
			let displayTime = [];
			for (let i = 0, t = 9; t <= 20; i++) {
				if (i % 2 == 0) displayTime.push(t++);
				else displayTime.push(" ");
			}
			let timeSlots = [];
			for (let t = 0, i = 0; t <= 23.5; t+=0.5, i++) {timeSlots.push({slot: i, time: t})}
			let thisSlot = 17;
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title= space.fullName
						h2.page-subtitle= space.department.fullThaiName
				div.container
					div.row.flex.marg-b-1#row-1
						if space.images.length > 0
							div.featured-img
								img(src=space.images[0], alt=space.name)
						div.amenities-box
							div.card
								span.amenity
									i.fas.fa-2x.fa-users
									span #{space.capacity ? space.capacity : "ไม่ระบุ"} ที่นั่ง
								if space.tags.includes("speaker")
									span.amenity
										i.fas.fa-2x.fa-volume-up
										span ระบบเสียง
								if space.tags.includes("instructor-pc")
									span.amenity
										i.fas.fa-2x.fa-desktop
										span คอมฯผู้สอน
								if space.tags.includes("air-conditioner")
									span.amenity
										img.i(src="/public/img/icons/snow.svg")
										span แอร์
								if space.tags.includes("projector")
									span.amenity
										img.i(src="/public/img/icons/projector.svg")
										span โปรเจ็กเตอร์
								if space.tags.includes("apple-tv")
									span.amenity
										img.i(src="/public/img/icons/apple-tv.svg")
										span Apple TV
					div.row#row-2
						div.card.shadow
							form.reservation-box(action="reserve/", method="POST")
								div(style="display:none")
									input(type="text", name="space", value=space.id)
									input(type="text", name="date", v-model="r_date")
									input(type="number", name="start", v-model="r_startTime")
									input(type="number", name="end", v-model="r_endTime")
								div.date
									//- i.fas.fa-chevron-circle-left
									div.input-with-icon.inp-date
										i.fas.fa-calendar-alt
										input(type="text", placeholder="date", name="date_raw", v-model="r_date_raw", id="datepicker")
									//- i.fas.fa-chevron-circle-right
								div.timetable
									div.time
										each time in displayTime
											span= time
									div.boxes
										while thisSlot <= 17+20
											div.box
												div.half(id=timeSlots[++thisSlot].slot)
												div.half(id=timeSlots[++thisSlot].slot)
								hr
								div.marg-b-1
									div.time-start
										label(for="start_raw") เวลาเริ่ม
										input.fluid.text-center#timeStart(type="text", name="start_raw", value="09:00")
									div.time-end
										label(for="end_raw") เวลาสิ้นสุด
										input.fluid.text-center#timeEnd(type="text", name="end_raw", value="09:30")
								div.text-center(v-show="true")
									button.raised
										i.fas.fa-pencil-alt
										| จอง
						if space.description
							div.card= space.description
						if member
							div
								button#report(onclick="showModal('modal')", @click="reportSent = false")
									i.fas.fa-exclamation-triangle
									| รายงานปัญหา
			if member
				div.modal#modal
					div.card
						span.close(onclick="closeModal('modal')")
							i.fas.fa-times-circle
						h1.modal-title รายงานปัญหา
						div(v-show="!reportSent")
							p <strong>#{space.fullName}</strong>
							label(for="reportTitle") หัวข้อ (ไม่เกิน 64 ตัวอักษร)
							input.fluid.marg-b-1(type="text", name="reportTitle", maxlength="64", required, v-model="reportTitle")
							label(for="reportBody") รายละเอียด
							textarea.marg-b-1(name="reportBody", rows="4", v-model="reportBody")
							div.marg-b-1(v-show="submitHasError") เกิดข้อผิดพลาด กรุณาลองอีกครั้ง
							button.raised(type="button", :disabled="reportTitle == '' && reportBody == ''", @click="sendReport()") {{ submitText }}
						div.text-center(v-show="reportSent")
							img(src="/public/img/success.svg", alt="succeed", width="100")
							p ส่งรายงานเรียบร้อย
		script(src="/public/vendor/jquery-3.3.1.min.js")
		script(src="/public/vendor/pikaday/pikaday.min.js")
		script(src="/public/vendor/jquery-clock-timepicker.min.js")
		script(src="/public/vendor/axios/axios.min.js")
		script
			| var spaceName = "#{space.name}";
			| var deptName = "#{space.department.name}";
		script(src="/public/scripts/single-page.js")
		script(src="/public/scripts/modal.js")
		if member
			script
				| app.reportToken = "#{memberToken}";
				| app.spaceId = "#{space.id}";
