html
	head
		include parts/meta
		title= space.name
		include parts/stylesheet
		include parts/scripts
	body.single-space
		include parts/nav
		-
			var slots1 = [];
			var slots2 = [];
			var start_hr = 8;
			for (var i = 1; i <= 6.5; i+=0.5) {
				slots1.push({id: i+7, t: i%2 == 0 ? '.30' : start_hr});
				if (i%2 != 0) hr++;
			}
			for (var i = 1; i <= 6.5; i+=0.5) {
				slots2.push({id: i+13, t: i%2 == 0 ? '.30' : start_hr});
				if (i%2 != 0) hr++;
			}
		div#app
			div.content
				div.container
					div.page-title-wrap
						h1.page-title= space.name
						h2.page-subtitle คณะเทคโนโลยีสารสนเทศ
				div.container
					div.row.flex.marg-b-1#row-1
						div.featured-img
							img(src="/public/img/single-feat.jpeg", alt="M23")
						div.amenities-box
							div.card
								span.amenity
									i.fas.fa-2x.fa-users
									span 90 ที่นั่ง
								span.amenity
									i.fas.fa-2x.fa-volume-up
									span ระบบเสียง
								span.amenity
									i.fas.fa-2x.fa-desktop
									span คอมฯผู้สอน
								span.amenity
									img.i(src="/public/img/icons/snow.svg")
									span แอร์
								span.amenity
									img.i(src="/public/img/icons/projector.svg")
									span โปรเจ็กเตอร์
					div.row#row-2
						div.card.shadow
							form.reservation-box(action="reserve", method="POST")
								div(style="display:none")
									input(type="text", name="space", value=space.id)
								div.date
									i.fas.fa-chevron-circle-left
									div.input-with-icon.inp-date
										i.fas.fa-calendar-alt
										input(type="text", placeholder="date", name="r_date", v-model="r_date")
									i.fas.fa-chevron-circle-right
								div.slot-wrap-wrapper
									div.slot-wrap
										table.times.text-center
											tr
												each time in ['8','.30','9','.30','10','.30','11','.30','12','.30','13','.30']
													td= time
										div.slots#slots-1
											each slot in slots1
												time-slot(id='slot-'+slot.id, :available="true", :position=slot.id)= slot.t
									div.slot-wrap
										table.times.text-center
											tr
												each time in ['14','.30','15','.30','16','.30','17','.30','18','.30','19','.30']
													td= time
										div.slots#slots-2
											each slot in slots2
												time-slot(id='slot-'+slot.id, :available="true", :position=slot.id)= slot.t
								hr
								p.text-center(v-show="chosenTimes.length == 0") กรุณาเลือกเวลาเพื่อจอง
								p.text-center(v-show="chosenTimes.length != 0") ที่เลือกไว้: {{ chosenTimePeriod }}
								div.text-center(v-show="chosenTimes.length != 0")
									button.raised
										i.fas.fa-pencil-alt
										| จอง
						div.card= space.description
						div
							button#report(onclick="showModal('modal')")
								i.fas.fa-exclamation-triangle
								| รายงานปัญหา
			div.modal#modal
				div.card
					span.close(onclick="closeModal('modal')")
						i.fas.fa-times-circle
					h1.modal-title รายงานปัญหา
					p= space.name
					textarea.marg-b-1(name="report", rows="4")
					button.raised ส่งรายงาน
	script(src="/public/scripts/single-page.js")
	script(src="/public/scripts/modal.js")
